body {
	background-image: url(/images/giftly.png);
}

pagetitle {
	font-size: 26px;
	text-align: center;
	display: block;
}

.checkbox label {
	font-weight: bold;
}

.main-panel {
	min-height: 700px;
}

.undread-email {
	font-weight: bold;
}

.no-margins {
	margin: 0px
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.7;
	z-index: 1001;
}

.floating {
	position: fixed;
	top: 100px;
	left: 0px;
	width: 100%;
	height: 500px;
}

.loader-background {
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.7;
	position: absolute;
}

.loader-container {
	margin-top: 35%;
	margin-left: calc(50% - 50px);
}

table.table tbody tr:hover{
	background-color: #eee;
}

table.table[href] td, table.table[href] th {
	cursor: pointer;
}

table.table td.bold {
	font-weight: 900;
}

table.table td a {
	color: black;
}

.email-title {
	font-weight: bold;
}

.email-body {
	padding-left: 40px;
	overflow: scroll;
}

a.table-link {
	color: inherit;
	text-decoration: inherit;
}

.message-box {
	position: fixed;
	top : 10px;
	left: 25%;
	width: 50%;
	z-index: 1001;
}

button[template-id] {
	width: 100%;
}

.template-button-group {
	width: 100%;
}

.template-button {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

th label {
	margin-bottom: 0px;
}
